#Shopping ul {
    list-style-type: circle;
}
#Steps ol  {
    list-style-type: georgian;
}
body {
    color: blue;
}
h2 {
    color: red;
}
header {
    background-color: chartreuse;
    text-align: center;
}